/* home 3 */
/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* Direction nav styles (e.g. Next & Prev) */
.iview-directionNav a {
  background: transparent;
  width: 15px;
  height: 43px; }
  @media (max-width: 767px) {
    .iview-directionNav a {
      width: 15px;
      height: 43px; } }
  @media (max-width: 480px) {
    .iview-directionNav a {
      width: 15px;
      height: 43px; } }
  .iview-directionNav a:before {
    content: "";
    font-family: "Auros";
    color: #414141;
    font-size: 35px;
    line-height: 43px;
    text-align: center; }
    @media (max-width: 767px) {
      .iview-directionNav a:before {
        line-height: 43px; } }
    @media (max-width: 480px) {
      .iview-directionNav a:before {
        line-height: 43px; } }
  .iview-directionNav a:hover:before {
    color: #FFFFFF; }
  .iview-directionNav a.iview-prevNav {
    top: 50%;
    left: -50px;
    right: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media (max-width: 767px) {
      .iview-directionNav a.iview-prevNav {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); } }
    @media (max-width: 480px) {
      .iview-directionNav a.iview-prevNav {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); } }
    .iview-directionNav a.iview-prevNav:before {
      content: "\e91a"; }
  .iview-directionNav a.iview-nextNav {
    top: 50%;
    left: auto;
    right: -50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media (max-width: 767px) {
      .iview-directionNav a.iview-nextNav {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); } }
    @media (max-width: 480px) {
      .iview-directionNav a.iview-nextNav {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); } }
    .iview-directionNav a.iview-nextNav:before {
      content: "\e922"; }

.ApSlideShow:hover .iview-directionNav a.iview-prevNav {
  top: 50%;
  left: 50px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
.ApSlideShow:hover .iview-directionNav a.iview-nextNav {
  top: 50%;
  right: 50px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 768px) {
  #header {
    background: #313131; } }

/*# sourceMappingURL=profile2353467795.css.map */
