/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*Preview Admin */
#module-leoslideshow-preview .container {
  width: 100%; }
#module-leoslideshow-preview .content-only {
  overflow: hidden; }
#module-leoslideshow-preview #leo-paneltool {
  display: none; }

/* The slider */
.iviewSlider {
  overflow: hidden; }

/* The timer in the Slider */
.iview-timer {
  position: absolute;
  z-index: 100;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .iview-timer div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }

/* The Preloader in the Slider */
.iview-preloader {
  position: absolute;
  z-index: 9;
  border: #000000 1px solid;
  padding: 1px;
  width: 100px;
  height: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .iview-preloader div {
    background: #000000;
    float: left;
    width: 0px;
    height: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }

/* The strips and boxes in the Slider */
.iview-strip, .iview-block {
  display: block;
  position: absolute;
  z-index: 5; }

/* Direction nav styles (e.g. Next & Prev) */
.iview-directionNav a {
  position: absolute;
  cursor: pointer;
  background: white;
  width: 90px;
  height: calc(90px - 10px);
  position: absolute;
  display: block;
  z-index: 100;
  font-size: 0; }
  @media (max-width: 767px) {
    .iview-directionNav a {
      width: 60px;
      height: calc(60px - 10px); } }
  @media (max-width: 480px) {
    .iview-directionNav a {
      width: 40px;
      height: calc(40px - 10px); } }
  .iview-directionNav a:before {
    content: "";
    font-family: "FontAwesome";
    font-size: 34px;
    color: #cccccc;
    display: block;
    line-height: calc(90px - 10px);
    text-align: center;
    color: #cecece; }
    @media (max-width: 767px) {
      .iview-directionNav a:before {
        line-height: calc(60px - 10px); } }
    @media (max-width: 480px) {
      .iview-directionNav a:before {
        line-height: calc(40px - 10px);
        font-size: 20px; } }
  .iview-directionNav a:hover:before {
    color: #eb7025; }
  .iview-directionNav a.iview-prevNav {
    top: 100%;
    -webkit-transform: matrix(1, 0, 0, 1, -181, -80);
    -moz-transform: matrix(1, 0, 0, 1, -181, -80);
    -ms-transform: matrix(1, 0, 0, 1, -181, -80);
    -o-transform: matrix(1, 0, 0, 1, -181, -80);
    transform: matrix(1, 0, 0, 1, -181, -80);
    left: 100%; }
    @media (max-width: 767px) {
      .iview-directionNav a.iview-prevNav {
        -webkit-transform: matrix(1, 0, 0, 1, -121, -50);
        -moz-transform: matrix(1, 0, 0, 1, -121, -50);
        -ms-transform: matrix(1, 0, 0, 1, -121, -50);
        -o-transform: matrix(1, 0, 0, 1, -121, -50);
        transform: matrix(1, 0, 0, 1, -121, -50); } }
    @media (max-width: 480px) {
      .iview-directionNav a.iview-prevNav {
        -webkit-transform: matrix(1, 0, 0, 1, -81, -30);
        -moz-transform: matrix(1, 0, 0, 1, -81, -30);
        -ms-transform: matrix(1, 0, 0, 1, -81, -30);
        -o-transform: matrix(1, 0, 0, 1, -81, -30);
        transform: matrix(1, 0, 0, 1, -81, -30); } }
    .iview-directionNav a.iview-prevNav:before {
      content: "\f104"; }
  .iview-directionNav a.iview-nextNav {
    top: 100%;
    -webkit-transform: matrix(1, 0, 0, 1, -90, -80);
    -moz-transform: matrix(1, 0, 0, 1, -90, -80);
    -ms-transform: matrix(1, 0, 0, 1, -90, -80);
    -o-transform: matrix(1, 0, 0, 1, -90, -80);
    transform: matrix(1, 0, 0, 1, -90, -80);
    left: 100%; }
    @media (max-width: 767px) {
      .iview-directionNav a.iview-nextNav {
        -webkit-transform: matrix(1, 0, 0, 1, -60, -50);
        -moz-transform: matrix(1, 0, 0, 1, -60, -50);
        -ms-transform: matrix(1, 0, 0, 1, -60, -50);
        -o-transform: matrix(1, 0, 0, 1, -60, -50);
        transform: matrix(1, 0, 0, 1, -60, -50); } }
    @media (max-width: 480px) {
      .iview-directionNav a.iview-nextNav {
        -webkit-transform: matrix(1, 0, 0, 1, -40, -30);
        -moz-transform: matrix(1, 0, 0, 1, -40, -30);
        -ms-transform: matrix(1, 0, 0, 1, -40, -30);
        -o-transform: matrix(1, 0, 0, 1, -40, -30);
        transform: matrix(1, 0, 0, 1, -40, -30); } }
    .iview-directionNav a.iview-nextNav:before {
      content: "\f105"; }

/* Control nav styles (e.g. 1,2,3...) */
/* Control nav styles (e.g. 1,2,3...) */
.iview-controlNav div.iview-items {
  z-index: 25;
  position: absolute;
  text-align: center;
  display: inline-block;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 16.25rem;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out; }
  .rtl .iview-controlNav div.iview-items {
    left: 16.25rem;
    right: auto; }
  @media (max-width: 1199px) {
    .iview-controlNav div.iview-items {
      right: 2rem; }
      .rtl .iview-controlNav div.iview-items {
        left: 2rem;
        right: auto; } }
  .iview-controlNav div.iview-items ul {
    margin-bottom: 0; }
    .iview-controlNav div.iview-items ul li {
      display: block;
      position: relative;
      margin-bottom: 20px;
      padding: 0 0 0 40px; }
      .rtl .iview-controlNav div.iview-items ul li {
        padding: 0 40px 0 0; }
      @media (max-width: 767px) {
        .iview-controlNav div.iview-items ul li {
          margin-bottom: 5px; } }
      .iview-controlNav div.iview-items ul li a.iview-control {
        display: inline-block;
        cursor: pointer;
        position: relative;
       font-family: "Poppins", sans-serif; font-weight: 400;
        font-size: 1rem;
        color: #333; }
        @media (max-width: 767px) {
          .iview-controlNav div.iview-items ul li a.iview-control {
            font-size: 14px; } }
        .iview-controlNav div.iview-items ul li a.iview-control:after {
          content: "";
          position: absolute;
          top: 50%;
          margin: auto;
          width: 10px;
          height: 1px;
          background-color: #333;
          left: -20px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .rtl .iview-controlNav div.iview-items ul li a.iview-control:after {
            right: -20px;
            left: auto; }
        .iview-controlNav div.iview-items ul li a.iview-control:before {
          content: "0"; }
        .iview-controlNav div.iview-items ul li a.iview-control.active:after, .iview-controlNav div.iview-items ul li a.iview-control:hover:after {
          width: 35px;
          left: -40px; }
          .rtl .iview-controlNav div.iview-items ul li a.iview-control.active:after, .rtl .iview-controlNav div.iview-items ul li a.iview-control:hover:after {
            right: -40px;
            left: auto; }
  .iview-controlNav div.iview-items.customHtmlBullet {
    padding: 0px;
    height: 96px;
    width: 100%;
    background: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    z-index: 3; }
    .iview-controlNav div.iview-items.customHtmlBullet ul li {
      width: 33%;
      height: 96px;
      float: left;
      padding: 0; }
    .iview-controlNav div.iview-items.customHtmlBullet a.iview-control {
      padding: 20px 25px 20px 16%;
      float: left;
      width: 100%;
      height: 100%;
      color: #333;
      background: none;
      text-transform: uppercase;
      border-left: 1px solid #DDD;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      text-indent: inherit;
      margin: 0; }
      .iview-controlNav div.iview-items.customHtmlBullet a.iview-control.active, .iview-controlNav div.iview-items.customHtmlBullet a.iview-control:hover {
        background: #fafafa;
        cursor: pointer; }
        .iview-controlNav div.iview-items.customHtmlBullet a.iview-control.active:after, .iview-controlNav div.iview-items.customHtmlBullet a.iview-control:hover:after {
          font-family: "FontAwesome";
          content: "\f0d8";
          position: absolute;
          top: -33px;
          right: auto;
          left: 50%;
          margin-left: -10px;
          font-size: 40px;
          color: #fafafa; }
        .iview-controlNav div.iview-items.customHtmlBullet a.iview-control.active span, .iview-controlNav div.iview-items.customHtmlBullet a.iview-control:hover span {
          background-color: #eb7025;
          color: #FFFFFF; }
      .iview-controlNav div.iview-items.customHtmlBullet a.iview-control h5 {
        color: #333;
        font-size: 13px;
        font-weight: 400;
       font-family: "Poppins", sans-serif; font-weight: 400;
        line-height: 20px; }
      .iview-controlNav div.iview-items.customHtmlBullet a.iview-control span {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        background: #eaeaea;
        width: 56px;
        height: 56px;
        line-height: 56px;
        color: #333;
        display: inline-block;
        text-align: center;
       font-family: "Poppins", sans-serif; font-weight: 400;
        font-size: 1.125rem;
        margin: 0 1.125rem 0 0;
        float: left; }
      .iview-controlNav div.iview-items.customHtmlBullet a.iview-control p {
        margin: 0;
        color: #666666; }
.iview-controlNav.iview-thumbnail div.iview-items {
  bottom: 0; }
  .iview-controlNav.iview-thumbnail div.iview-items ul li {
    width: 200px;
    height: auto;
    overflow: hidden;
    vertical-align: bottom; }
    .iview-controlNav.iview-thumbnail div.iview-items ul li a {
      width: 100%;
      height: auto;
      margin: 0;
      text-indent: inherit;
      background: transparent;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .iview-controlNav.iview-thumbnail div.iview-items ul li a.active, .iview-controlNav.iview-thumbnail div.iview-items ul li a:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }
      .iview-controlNav.iview-thumbnail div.iview-items ul li a img {
        max-width: 100%;
        height: auto; }

/* The video show in the Slider */
.iview-video-show {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101; }
  .iview-video-show .iview-video-container {
    position: relative;
    width: 100%;
    height: 100%; }
    .iview-video-show .iview-video-container a.iview-video-close {
      position: absolute;
      right: 10px;
      top: 10px;
      background: #222;
      color: #FFFFFF;
      text-align: center;
      line-height: 29px;
      font-size: 22px;
      font-weight: 600;
      overflow: hidden;
      width: 20px;
      height: 20px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      border-radius: 15px; }
    .iview-video-show .iview-video-container a.iview-video-close:hover {
        background: #444;
	}

.ApSlideShow .slide_config , .LeoSlideshow .slide_config{
  display: none; 
}