<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>leoquicklogin</name>
    <displayName><![CDATA[Leo Quick Login And Social Login]]></displayName>
    <version><![CDATA[1.1.0]]></version>
    <description><![CDATA[Leo Quick Login And Social Login For Prestashop 1.7]]></description>
    <author><![CDATA[Leotheme]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>