/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
a:hover, a:focus {
  color: #e6e6fa; }

.leo-megamenu .navbar-nav > li.active > a, .leo-megamenu .navbar-nav > li:hover > a, .leo-megamenu .navbar-nav > li:focus > a,
.box-tabproducts .nav-tabs li a.active, .box-tabproducts .nav-tabs li a:hover,
.leo-megamenu .dropdown-menu li a:hover,
.block-social li a:hover,
.thumbnail-container .product-title a:hover,
.popup-over .popup-content a:hover,
.group-input a.apconfig.active,
.block-categories .category-sub-menu li > a:hover,
.block-social li:hover,
.owl-theme .owl-buttons div:hover:before,
.plist-dsimple .thumbnail-container .discount-percentage,
.box-fashion .ApHtml a:hover,
.blog-container .blog-title a:hover,
.popup-over .popup-content li.current a,
.blog-item .title a:hover,
.blog-item .more:hover,
.iview-directionNav a:hover:before, .leo-cart-item-info .discount-percentage,
.widget-category_image .block_content > ul:hover .cate-name, .block_newsletter .input-wrapper button:hover,
.nqt-email:hover, .block-categories .collapse-icons:hover, .sidebar > div a.all-product-link:hover, .sidebar > div a.all-product-link:active,
.sidebar > div a.all-product-link:focus, .sidebar .block a.all-product-link:hover,
.sidebar .block a.all-product-link:active, .sidebar .block a.all-product-link:focus, .pagination .current a, .social-sharing li:hover,
.product-quantity .add .btn:not(.add-to-cart):hover, .product-quantity .add .btn:not(.add-to-cart):active,
.product-quantity .add .btn:not(.add-to-cart):focus, #leo_product_reviews_block_extra a:hover, .breadcrumb li:last-child a,
.product-tabs.tabs .nav-tabs .nav-link.active, .product-tabs.tabs .nav-tabs .nav-link:hover, .blog-item .blog-bottom .created .date .left-date,
.pagination a:hover, .pagination a:focus, .showmenu:hover, .showmenu:hover i, .redhotspot, .litetooltip-wrapper .template .temp_description,
.box-service .sv-col:hover i, .box-service .sv-col:hover h3, .box-search #search_widget .search-inner button[type="submit"]:hover,
.box-search #search_widget .search-inner button[type="submit"]:hover i, .thumbnail-container .product-title a:hover,
.h6-bn-wr-text .h6-bn-price, .h7-list-cate .cate-blok:hover i, .wr-question .question-title a:before {
  color: #e6e6fa; }

.bannercontainer .tp-caption.btn:hover,
.plist-dsimple .thumbnail-container .pro3-btn .btn-product:hover, .plist-dsimple .thumbnail-container .pro3-btn .quick-view:hover,
.leo-fly-cart-total,
.box-top .col-info .ap-btn-wishlist .ap-total,
.enable_fheader.btn_yes:after,
.box-top .col-info #_desktop_cart .header .cart-products-count,
.block-categories .category-sub-menu li:hover:after,
.has-discount .discount,
.product-add-to-cart .product-quantity .add-to-cart:hover,
#back-top,
.leo-megamenu .dropdown-menu li a:hover:before,
.plist-center .thumbnail-container .pro-btn .btn-product:hover, .view-leo-dropdown-additional.show,
#blockcart-modal .cart-content a.btn:hover, #blockcart-modal .cart-content a.btn:focus,
.product-add-to-cart .product-quantity .add-to-cart:hover, .product-add-to-cart .product-quantity .add-to-cart:focus,
.leo-cart-dropdown-action a.btn.cart-dropdow-checkout:hover, .leo-cart-dropdown-action a.btn.cart-dropdow-checkout:focus, .continue.btn:hover,
.continue.btn:focus, button.btn.btn-primary.center-block:hover, button.btn.btn-primary.center-block:focus,
.product-tabs.tabs .nav-tabs .nav-item .nav-link.active:after, .input-group .input-group-btn > .btn,
.custom-radio input[type="radio"]:checked + span, body#checkout section.checkout-step.-reachable.-complete h1 .done,
body#checkout section.checkout-step.-reachable.-complete .step-title:before, .bannercontainer .tp-caption.h6-style-slide a:hover,
.h6-bn-wr-text a:hover {
  background: #e6e6fa; }

.block-social li:hover,
.owl-theme .owl-buttons div:hover,
.iview-directionNav a:hover,
.blog-container .link-readmore:hover, .block_newsletter .input-wrapper button:hover,
.plist-center .thumbnail-container .pro-btn .btn-product:hover, .bannercontainer .tp-caption.h1-style-4 .btn:hover, .nqt-email,
.product-quantity .add .btn:not(.add-to-cart):hover, .product-quantity .add .btn:not(.add-to-cart):active,
.product-quantity .add .btn:not(.add-to-cart):focus, .block_newsletter .input-wrapper input:focus,
.block_newsletter .input-wrapper input:hover, .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active,
.h3-box-img-cate .widget-category_image .block_content li .cate-show-all:hover, .bannercontainer .tp-caption.h3-style-3 .btn:hover,
.h4-wr-mainbanner .banner-left .bn-left-top a:hover, .box-newbanner .box-btn a:hover, .bannercontainer .tp-caption.h4-style-4 a:hover,
.bannercontainer .tp-caption.h6-style-slide a:hover, .h6-bn-wr-text a:hover, .h7-boxbanner a:hover, .h11-box-bn a:hover, .box-bg-content-bot a:hover,
.h13-box-bg .line-3:hover, #mywishlist .footer_links li .btn:hover {
  border-color: #e6e6fa; }

*::selection {
  background-color: #e6e6fa;
  color: #fff; }

.btn-primary:active:hover, .btn-primary:hover, .btn-primary:active:focus, .btn-primary:active.focus,
.btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus, .leo-megamenu .navbar-nav > li > a:before,
#_desktop_cart .cart-products-count, .bannercontainer .tp-caption.h1-style-4 .btn:hover,
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active, .box-imgbackground a:hover,
.box-newsletter .block_newsletter .input-wrapper button:hover, .h3-box-img-cate .widget-category_image .block_content li .cate-show-all:hover,
.bannercontainer .tp-caption.h3-style-3 .btn:hover, .h4-wr-mainbanner .banner-left .bn-left-top a:hover, .h4-wr-mainbanner .wr-text a:before,
.box-newbanner .box-btn a:hover, .bannercontainer .tp-caption.h4-style-4 a:hover,
.bannercontainer .tp-caption.h7-style-slide .h7-text-slide-bot:hover, .h7-boxbanner a:hover, .h11-box-bn a:hover, .box-bg-content-bot a:hover
, .h13-box-bg .line-3:hover, #mywishlist .footer_links li .btn:hover, .img-faq .image_description a {
  background-color: #e6e6fa; }

.see-all a, .box-show-more a, .blog-container .link-readmore, .h2-banner .image_description .btn, .h3-footer-info .btn-newsletter,
.h4-boxbntop .image_description a, .h5-boxlistcate .widget-category_image .cate-show-all, .h7-about .ab-button a, .h12-box-bn .ApImage a {
  -moz-box-shadow: 0px -9px 0px 0px #e6e6fa inset;
  -webkit-box-shadow: 0px -9px 0px 0px #e6e6fa inset;
  -o-box-shadow: 0px -9px 0px 0px #e6e6fa inset;
  -ms-box-shadow: 0px -9px 0px 0px #e6e6fa inset;
  box-shadow: 0px -9px 0px 0px #e6e6fa inset; }

.blog-container .link-readmore:hover, .h5-boxlistcate .widget-category_image .cate-show-all:hover {
  -moz-box-shadow: 0px -50px 0px 0px #e6e6fa inset;
  -webkit-box-shadow: 0px -50px 0px 0px #e6e6fa inset;
  -o-box-shadow: 0px -50px 0px 0px #e6e6fa inset;
  -ms-box-shadow: 0px -50px 0px 0px #e6e6fa inset;
  box-shadow: 0px -50px 0px 0px #e6e6fa inset; }

.h3-footer-info .btn-newsletter:hover {
  -moz-box-shadow: 0px -31px 0px 0px #e6e6fa inset;
  -webkit-box-shadow: 0px -31px 0px 0px #e6e6fa inset;
  -o-box-shadow: 0px -31px 0px 0px #e6e6fa inset;
  -ms-box-shadow: 0px -31px 0px 0px #e6e6fa inset;
  box-shadow: 0px -31px 0px 0px #e6e6fa inset; }

.box-cate-product .nav-tabs .nav-link.active, .box-cate-product .nav-tabs .nav-link.active:focus,
.box-cate-product .nav-tabs .nav-link.active:hover, .box-cate-product .nav-tabs .nav-item.open .nav-link,
.box-cate-product .nav-tabs .nav-item.open .nav-link:focus, .box-cate-product .nav-tabs .nav-item.open .nav-link:hover,
.h8-box-product .nav-tabs .nav-link.active, .h8-box-product .nav-tabs .nav-link.active:focus, .h8-box-product .nav-tabs .nav-link.active:hover,
.h8-box-product .nav-tabs .nav-item.open .nav-link, .h8-box-product .nav-tabs .nav-item.open .nav-link:focus,
.h8-box-product .nav-tabs .nav-item.open .nav-link:hover, .h8-box-product .nav-tabs li a:hover, .box-cate-product .ApTabs .nav-tabs li a:hover {
  -moz-box-shadow: 0px -6px 0px 0px #e6e6fa inset;
  -webkit-box-shadow: 0px -6px 0px 0px #e6e6fa inset;
  -o-box-shadow: 0px -6px 0px 0px #e6e6fa inset;
  -ms-box-shadow: 0px -6px 0px 0px #e6e6fa inset;
  box-shadow: 0px -6px 0px 0px #e6e6fa inset; }

#index .box-top.home-2 .showmenu:hover {
  color: #e6e6fa !important; }
  #index .box-top.home-2 .showmenu:hover i {
    color: #e6e6fa !important; }

/*# sourceMappingURL=skin.css.map */
